mixin input-form(options = {})
  - 
    const { 
      isActive = false,
      value = '',
      placeholder = '',
      isForm = false,
      isFooter = false,
      type = text
    } = options;

    let classModification = '';
    
    if(isActive){
      classModification = "input-form_active";
    }

    if(isFooter){
      classModification = "input-form_width-260";
    }

  if(isForm)
    form(action="#" class=`form-email ${classModification}`) 
      input(class='input-form input-form_email' type="email" placeholder="Email")
      button(class='input-form__email-button' type="submit")
  else
    input(class=`input-form ${classModification}` type=type value=value placeholder=placeholder)